# R Workspace Specific
.RData
.Rhistory

# Data folder
data/*

# But we still need two data files to be included because they are manually made
!data/quizz3q3data1_worked.csv
!data/quizz3q3data2_worked.csv
